<h1>Listing enterprises</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enterprises.each do |enterprise| %>
      <tr>
        <td><%= enterprise.title %></td>
        <td><%= enterprise.desc %></td>
        <td><%= link_to 'Show', enterprise %></td>
        <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
        <td><%= link_to 'Destroy', enterprise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enterprise', new_enterprise_path %>
