<div class="btn-group event-selector">
  <%if @type =='story' %>
    <%=link_to "이벤트 스토리" , root_path , class:"btn active"%>
  <%=link_to "쿠폰스토리" , rank_products_path , class:"btn"%>
  <%=link_to "마감 임박순" , urgent_products_path , class:"btn"%>
  <%=link_to "최신 이벤트" , recent_products_path , class:"btn"%>
<%elsif @type == 'rank' %>
    <%=link_to "이벤트 스토리" , root_path , class:"btn"%>
  <%=link_to "쿠폰스토리" , rank_products_path , class:"btn active"%>
  <%=link_to "마감 임박순" , urgent_products_path , class:"btn"%>
  <%=link_to "최신 이벤트" , recent_products_path , class:"btn"%>

<%elsif @type == 'urgent'%>
    <%=link_to "이벤트 스토리" , root_path, class:"btn"%>
  <%=link_to "쿠폰스토리" , rank_products_path , class:"btn"%>
  <%=link_to "마감 임박순" , urgent_products_path , class:"btn active"%>
  <%=link_to "최신 이벤트" , recent_products_path , class:"btn"%>

<%elsif @type == 'recent'%>
    <%=link_to "이벤트 스토리" , root_path, class:"btn"%>
  <%=link_to "쿠폰스토리" , rank_products_path , class:"btn"%>
  <%=link_to "마감 임박순" , urgent_products_path , class:"btn"%>
  <%=link_to "최신 이벤트" , recent_products_path , class:"btn active"%>
<%end%>
</div>
